@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  height: 100vh;
  background: url(../images/header.jpg);
  background-size: cover;
}

input {
  padding: 5px 0 5px 10px !important;
  border: 1px solid lightgray !important;
  border-radius: 5px !important;
}

input:focus {
  outline: none;
  border: 1px solid blueviolet !important;
}

.button-visit {
  margin-top: 5px;
  margin-left: 14rem;
  padding: 5px 20px;
  color: #ffffff;
  background-color: blueviolet;
  border-radius: 5px;
}

.button-visit:hover {
  background-color: rgb(152, 72, 226);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.button-back {
  padding: 5px 10px;
  color: #000000;
  background-color: lightgray;
  border: 1px solid gray;
  border-radius: 5px;
}

.button-reset {
  padding: 5px 10px;
  color: red;
  border: 1px solid red;
  border-radius: 5px;
}

.button-reset:hover {
  color: #ffffff;
  background-color: rgb(250, 27, 27);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.button-submit {
  padding: 5px 10px;
  color: #ffffff;
  background-color: blueviolet;
  border-radius: 5px;
}

.button-submit:hover {
  background-color: rgb(152, 72, 226);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
