@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin: 10px;
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  height: 100vh;
  background: url(../images/header.jpg);
  background-size: cover;
}

.column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

input {
  padding: 5px 0 5px 10px !important;
  background-color: #B09B71;
  color: #fff !important;
  border: 1px solid lightgray !important;
  border-radius: 5px !important;
}

input:focus {
  outline: none;
  border: 1px solid #ffffff !important;
}

.button-visit {
  margin-top: 5px;
  margin-left: 14rem;
  padding: 5px 20px;
  color: #ffffff;
  background-color: blueviolet;
  border-radius: 5px;
}

.button-visit:hover {
  background-color: rgb(152, 72, 226);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.button-back {
  padding: 5px 10px;
  color: #000000;
  background-color: lightgray;
  border: 1px solid gray;
  border-radius: 5px;
}

.button-reset {
  padding: 5px 10px;
  color: #ffffff;
  background-color: rgb(250, 27, 27);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 5px;
}

.button-reset:hover {
  color: #ffffff;
  background-color: rgb(253, 60, 60);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.button-submit {
  padding: 5px 10px;
  color: #000000;
  background-color: #EDDFB3;
  border-radius: 5px;
}

.button-submit:hover {
  background-color: #D8CCA3;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#result-error {
  animation-name: result-error;
  transition-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 2s;
}

#result-success {
  animation: ease-in-out;
  animation-duration: 2s;
  animation-delay: 2s;
}
